# Dependencies
node_modules/
.npm
.eslintcache

# Testing
coverage/

# Next.js
.next/
out/

# Production
build/
dist/

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*

# Local env files
.env*.local

# IDE
.idea/
.vscode/

# Git
.git/
